.ipynb_checkpoints
.vscode/
.DS_Store
Manifest.toml
/docs/build/
__pycache__/

# gfx
*.png
!test/resources/
*.jpg
*.gif
*.mp4
*.svg
*.pdf
*.ogv

# data file
*.dat
*.txt
!requirements.txt
*.log
*.json

# paraview
*.vti
*.pvd
*.npz

# exceptions
!/examples/JuliaCon2021.jpg
!/examples/JuliaCon2024.png
!/examples/julia.gif
!/examples/julia2024.gif
!/examples/hover.gif
!/examples/oscillating.gif