.ipynb_checkpoints
.vscode/
.DS_Store
*.jl.*.cov
*.jl.cov
*.jl.mem
*.rej
.DS_Store
.benchmarkci
Manifest.toml
LocalPreferences.toml
/docs/build/
benchmark/*.json
coverage
docs/build/
env
node_modules

# gfx
*.png
*.jpg
*.gif
*.mp4
*.svg
*.pdf
*.ogv

# data file
*.dat
*.txt
*.log
*.json

# paraview
*.vti
*.pvd

# exceptions
!/examples/JuliaCon2021.jpg
!/examples/JuliaCon2024.png
!/examples/julia.gif
!/examples/julia2024.gif
!/examples/hover.gif
!/examples/oscillating.gif